/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


body#loginbody{
   background: url('../img/fundologin.png') no-repeat center center fixed;
   background-size: cover;
   font-family: Arial;
}
body{
    font-family: arial;
}

div.loginheader{
    text-align: center;
}
div.loginheader{
    margin-bottom: 60px;
}
div.loginheader h1{
     font-size: 60px;
     color: #eb8334;
     padding: 0px;
     margin: 0px;
     
}
div.loginheader p{
    color: #eb8334;
    font-size: 50px;
     margin: 0px;
     text-transform: uppercase;
     display: inline-block;
}
div.loginheader p::after{
    content: '';
    display: block;
    height: 5px;
    background: #eb8334;
    
    margin: 0 auto;
}

div.loginbody form{

    margin: 0 auto;
    width: 450px;
    background: rgb(0, 0,0,.5);
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}

div.loginInputsContainer {
    margin-top: 30px;
}

div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}


div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid #eb8334;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}

div.loginButtonContainer Button{
    font-size: 30px;
    padding: 10px 40px;
    background: #eb8334;
    border: none;
    color: #fff;

}

div.header{
    width: 100%;
    padding: 10px 0px;
    background: #FFA500;
    text-align: right;
}
div.header a{
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
}
div.header a:hover{
    border-radius: 5px;
    border: 2px solid #fff;
}
div.banner{
    background: url('../img/banner.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.homepagecontainer{
width: 100%;
max-width: 1000px;
/*height: 70vh; */

margin: 0 auto;

}

div.bannerheader h1{
    font-size: 100px;
    color: #FFA500;
    line-height: 100%;

}

div.bannerheader p{
    font-size: 30px;
    color: #FFA500;
    text-transform:  uppercase;
    line-height: 100%;
}
p.bannertagline{
    margin-top: 20px ;
    font-size: 25px;
    color: #fff;

}
div.bannericons{
    margin-top: 150px;


}

div.bannericons a{
    font-size: 25px;
    margin-left: 40px;
    padding: 7px 15px;
    background: rgb(0, 0,0,0.5);
    color: #868485;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}

div.bannericons a:first-child{
    margin-left: 0px;
}
div.bannericons a:hover{
    color: #fff;
    font-size: 25px;
    background: #eb8334;
    transition: .5s all;
}

div.homepagefeatures{
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
}

div.homepagefeature{
    
    padding: 10px 20px;
    text-align: center;
    width: 33.3%;
    
}
div.homepagefeature:hover{
    border-top: 2px solid #FFA500;
    border-bottom: 2px solid #FFA500;
    transition: 0.5s all;
}
div.homepagefeature span.featureicon{
    height: 80px;
    width: 80px;
    display: inline-block;
    font-size: 50px;
    background: #FFA500;
    color: #fff;
    
    padding-top: 5px;
    border-radius: 50%;
    margin-bottom: 20px;

}

div.homefeature h3.featuretitle{
    margin-bottom: 20px ;
    font-size: 25px;
}

div.homefeature p.featuredescription{
    color: #848484;
    font-size: 18px;
}
div.homepagenotified{
    background: #e3e3e3 ;
    padding: 80px 0px;
  
}
div.homepagenotifiedcontainer{
    display: flex;
    flex-direction: row;
}
div.emailfotm h3{
    font-size: 25px;
}
div.emailform{
    width: 40%;
    text-align: center;
    
}
div.video{
    width: 60%;
    text-align: center;
}
div.homepagenotified h3{
    margin-bottom: 20px;
}
div.homepagenotified p{
    color: #848484;
    line-height: 200%;
    margin-bottom: 30px;
}
div.formcontainer{
    width: 80%;
    position: relative;
    border-radius: 10px;
}
div.formcontainer input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    
}
div.formcontainer input:focus{
    outline: none;
}
div.formcontainer button{
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 22px;
    padding: 0px 10px;
    background: #FFA500;
    border: none;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inframe{
    width: 80%;
    height: 100%;
    
}

div.socials{
    text-align: center;
    padding: 70px 0 20px 0px;
}
h3.socialheader{
    font-size: 30px;
}
div.socialtext{
    margin-top: 20px;
    margin-bottom: 25px;
    color: #848484;
    font-size: 20px;
}
div.socialiconscontainer a{
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-top: 7px;
    background: #d4d4d4;
    border-radius: 50%;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
}
div.socialiconscontainer a:hover{
    background: #FFA500;
    transition: .5s;
}
div.footer{
    background: #e3e3e3;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
div.footer a{
    color: #848484;
    margin-left: 30px;
}
div.footer a:hover{
    font-weight: bold;
    color: #FFA500;
    transition: .5s all;
}

/*Dashboard style*/
#dashboardmaincontainer{
    display: flex;
    flex-direction: row;
}
div.dashboard_sidebar{
    width: 50%;
    background: #323232;
    height: 100vh;
}
div.dashboard_content_container{
    width: 80%;
    background: #f4f6f9;
}
h3.dashboard_logo{
    color: #FFA500 ;
    font-size: 80px;
    text-align: center;
}
div.dashboard_sidebar_user{
text-align: center;
position: relative;
padding-bottom: 20px;
border-bottom: 2px solid #fff;
}
div.dashboard_sidebar_user img{
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #FFA500;
    margin-right: 5px;
    vertical-align: middle ;
   }
   div.dashboard_sidebar_user span{
    position: relative;
    top: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    
   }
 
   ul.dashboard_menu_lists{
       margin-top: 20px;
   }
   ul.dashboard_menu_lists li{
    padding: 15px 15px;
    text-transform: uppercase;
   }
   ul.dashboard_menu_lists li a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 20px;
}
ul.dashboard_menu_lists li a i{
font-size: 25px;
}
ul.dashboard_menu_lists li.menuactive{
    background: #FFA500;
    color: #fff;
}
   ul.dashboard_menu_lists li:hover{
    background: #FFA500;
    color: #fff;
    transition: 0.3s all;
   }
   div.dashboard_topnav{
    background: #fff;
    padding: 20px;
   }
   div.dashboard_topnav a{
    color: #848383;
    font-size: 20px;
    text-decoration: none;
   }
   a#logoutbtn{
    float: right;
   }
   div.dashboard_content{
    padding: 50px 10px 10px 10px;
   }
   div.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 100%;
    
   }

   div#errormessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;

   }

form.formulariocad{
    background: red;
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid #cecfd0;
    border-radius: 5px;
}
form.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}
